* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  scroll-padding: 2em;
  color: #310070;
}

header {
  margin-left: 3em;
  margin-right: 3em;
  padding: 2em 0;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
}
header nav ul li {
  list-style: none;
}
header nav ul li a {
  text-decoration: none;
  color: #310070;
  font-size: 0.8em;
  opacity: 0.8;
}
header nav ul li a:hover {
  opacity: 1;
}
header button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  border: none;
  border-radius: 0.2em;
  font-weight: 500;
  color: white;
  font-family: inherit;
  cursor: pointer;
  background-color: #f6c000;
  padding: 1em 3em;
}
header button:hover {
  background-color: #d0a300;
}
header #ham-nav-open {
  display: none;
}

.ham-nav {
  background-color: #7000ff;
  height: 110vh;
  width: 75vw;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1000;
  display: none;
  place-content: center;
}
.ham-nav.show {
  display: grid;
  transition: 0.3s ease-in-out;
}
.ham-nav .ham-nav-close {
  position: absolute;
  top: 20%;
  left: 50%;
}
.ham-nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3em;
}
.ham-nav ul li {
  list-style: none;
}
.ham-nav ul li a {
  color: white;
  text-decoration: none;
}

main section {
  margin: 1.5em 0;
}
main .hero-section {
  margin-left: 3em;
  margin-right: 3em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main .hero-section .left-side h1 {
  font-size: 3em;
  margin-bottom: 0.5em;
  animation-delay: 0s;
}
main .hero-section .left-side p {
  margin-bottom: 1em;
  animation-delay: 0.2s;
}
main .hero-section .left-side button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  border: none;
  border-radius: 0.2em;
  font-weight: 500;
  color: white;
  font-family: inherit;
  cursor: pointer;
  background-color: #f6c000;
  padding: 1em 3em;
  animation-delay: 0.4s;
}
main .hero-section .left-side button:hover {
  background-color: #d0a300;
}
main .hero-section .right-side img {
  width: 40vw;
  animation-delay: 0.6s;
}
main .courses-section {
  margin-left: 3em;
  margin-right: 3em;
  margin-bottom: 5em;
}
main .courses-section .courses-section-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  text-align: center;
  margin-bottom: 2em;
}
main .courses-section .courses-section-info h2 {
  font-weight: 600;
  font-size: 2em;
}
main .courses-section .courses-section-info p {
  max-width: 750px;
}
main .courses-section .courses-section-info span {
  background-color: rgba(112, 0, 255, 0.5);
  text-transform: uppercase;
  font-size: 0.6em;
  border-radius: 2em;
  padding: 0.4em 0.8em;
  color: white;
  font-weight: 600;
  letter-spacing: 0.1em;
}
main .courses-section .cards-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2em;
}
main .courses-section .cards-container .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 360px;
  gap: 2em;
  box-shadow: 18px 7px 93px -59px rgba(0, 0, 0, 0.57);
  transition: transform 0.5s ease-in-out;
}
main .courses-section .cards-container .card img {
  width: 100%;
}
main .courses-section .cards-container .card .card-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.7em;
  text-align: center;
  padding-bottom: 2em;
}
main .courses-section .cards-container .card .card-info h5 {
  font-size: 1.1em;
  font-weight: 500;
  color: #310070;
}
main .courses-section .cards-container .card .card-info p {
  font-size: 0.9em;
  opacity: 0.7;
  max-width: 90%;
  margin-bottom: 0.2em;
}
main .courses-section .cards-container .card .card-info button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  border: none;
  border-radius: 0.2em;
  font-weight: 500;
  color: white;
  font-family: inherit;
  cursor: pointer;
  background-color: #f6c000;
  font-size: 0.9em;
  padding: 0.5em 1.5em;
  background-color: #7000ff;
  padding: 0.8em;
  width: 80%;
}
main .courses-section .cards-container .card .card-info button:hover {
  background-color: #310070;
}
main .courses-section .cards-container .card:hover {
  transform: scale(1.05);
}
main .how-it-works-section {
  margin-left: 3em;
  margin-right: 3em;
  margin-bottom: 5em;
}
main .how-it-works-section .how-it-works-section-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  text-align: center;
  margin-bottom: 2em;
}
main .how-it-works-section .how-it-works-section-info span {
  background-color: rgba(112, 0, 255, 0.5);
  text-transform: uppercase;
  font-size: 0.6em;
  border-radius: 2em;
  padding: 0.4em 0.8em;
  color: white;
  font-weight: 600;
  letter-spacing: 0.1em;
}
main .how-it-works-section .how-it-works-section-info h2 {
  font-weight: 600;
  font-size: 2em;
}
main .how-it-works-section .how-it-works-section-info p {
  max-width: 750px;
}
main .how-it-works-section .steps-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
}
main .how-it-works-section .steps-container .step {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
}
main .how-it-works-section .steps-container .step img {
  background-color: #ecf5ff;
  padding: 1em;
  border-radius: 50%;
}
main .how-it-works-section .steps-container .step h5 {
  font-size: 1em;
  font-weight: 500;
  color: #7000ff;
}
main .how-it-works-section .steps-container .step p {
  font-size: 0.9em;
  max-width: 300px;
  opacity: 0.7;
}
main .how-it-works-section .steps-container .step span {
  background-color: rgba(112, 0, 255, 0.5);
  text-transform: uppercase;
  font-size: 0.6em;
  border-radius: 2em;
  padding: 0.4em 0.8em;
  color: white;
  font-weight: 600;
  letter-spacing: 0.1em;
  color: #310070;
  background-color: white;
  font-weight: 700;
}
main .about-us-section {
  margin-bottom: 5em;
}
main .about-us-section .about-us-section-info {
  margin-left: 3em;
  margin-right: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  text-align: center;
  margin-bottom: 2em;
}
main .about-us-section .about-us-section-info h2 {
  font-weight: 600;
  font-size: 2em;
  margin-bottom: 0.5em;
}
main .about-us-section .about-us-section-info p {
  max-width: 1100px;
  opacity: 0.7;
}
main .about-us-section .about-us-section-info span {
  background-color: rgba(112, 0, 255, 0.5);
  text-transform: uppercase;
  font-size: 0.6em;
  border-radius: 2em;
  padding: 0.4em 0.8em;
  color: white;
  font-weight: 600;
  letter-spacing: 0.1em;
}
main .about-us-section img {
  width: 100%;
}
main .testimonials-section {
  margin-bottom: 5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1.5em;
}
main .testimonials-section p {
  font-size: 1.8em;
  max-width: 650px;
}
main .testimonials-section h5 {
  font-size: 1em;
  font-weight: 500;
}
main .testimonials-section h6 {
  font-size: 0.8em;
  font-weight: 400;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #7000ff;
  color: white;
  padding: 2em 3em;
}
footer div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
}
footer a {
  text-decoration: none;
  color: white;
  font-size: 0.9em;
}
footer p {
  color: white;
}

@media only screen and (max-width: 890px) {
  header {
    margin-left: 2em;
    margin-right: 2em;
  }
  main .hero-section,
  main .courses-section,
  main .how-it-works-section {
    margin-left: 2em;
    margin-right: 2em;
  }
  footer {
    padding: 2em;
  }
  header .logo {
    width: 20vw;
  }
  header nav ul li {
    font-size: 0.7em;
  }
  header button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    border: none;
    border-radius: 0.2em;
    font-weight: 500;
    color: white;
    font-family: inherit;
    cursor: pointer;
    background-color: #f6c000;
    font-size: 0.9em;
    padding: 0.5em 1.5em;
  }
  main .hero-section .left-side h1 {
    font-size: 2em;
  }
  main .hero-section .left-side p {
    font-size: 0.7em;
  }
  main .hero-section .left-side button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    border: none;
    border-radius: 0.2em;
    font-weight: 500;
    color: white;
    font-family: inherit;
    cursor: pointer;
    background-color: #f6c000;
    font-size: 0.9em;
    padding: 0.5em 1.5em;
  }
  main .courses-section .courses-section-info h2,
  main .about-us-section .about-us-section-info h2,
  main .how-it-works-section .how-it-works-section-info h2 {
    font-size: 1.5em;
  }
  main .courses-section .courses-section-info p,
  main .about-us-section .about-us-section-info p,
  main .how-it-works-section .how-it-works-section-info p {
    font-size: 0.7em;
    max-width: 450px;
  }
  main .courses-section .cards-container .card {
    max-width: 250px;
  }
  main .courses-section .cards-container .card .card-info {
    gap: 0.4em;
  }
  main .courses-section .cards-container .card .card-info h5 {
    font-size: 0.8em;
  }
  main .courses-section .cards-container .card .card-info p {
    font-size: 0.7em;
  }
  main .courses-section .cards-container .card .card-info button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    border: none;
    border-radius: 0.2em;
    font-weight: 500;
    color: white;
    font-family: inherit;
    cursor: pointer;
    background-color: #f6c000;
    font-size: 0.9em;
    padding: 0.5em 1.5em;
    background-color: #7000ff;
  }
  main .how-it-works-section .steps-container {
    align-items: center;
    gap: 1em;
  }
  main .how-it-works-section .steps-container .step {
    max-width: 150px;
  }
  main .how-it-works-section .steps-container .step h5 {
    font-size: 0.8em;
  }
  main .how-it-works-section .steps-container .step p {
    font-size: 0.7em;
  }
  main .testimonials-section p {
    font-size: 0.9em;
    max-width: 400px;
  }
  main .testimonials-section h5 {
    font-size: 0.7em;
  }
  main .testimonials-section h6 {
    font-size: 0.6em;
  }
  footer .logo {
    width: 20vw;
  }
  footer a {
    font-size: 0.7em;
  }
  footer p {
    font-size: 0.7em;
  }
}
@media only screen and (max-width: 650px) {
  main .hero-section .left-side h1 {
    font-size: 1.5em;
  }
  main .courses-section .courses-section-info h2,
  main .about-us-section .about-us-section-info h2,
  main .how-it-works-section .how-it-works-section-info h2 {
    font-size: 1.1em;
  }
}
@media only screen and (max-width: 570px) {
  main section {
    margin: 0.5em 0;
  }
  header .logo {
    width: 30vw;
  }
  header nav,
  header button {
    display: none;
  }
  header #ham-nav-open {
    display: block;
  }
  .hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 2em;
  }
  .hero-section .left-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .how-it-works-section .steps-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
  }
  .how-it-works-section .steps-container button {
    margin: auto;
  }
  footer .logo {
    width: 30vw;
  }
  footer a {
    display: none;
  }
  footer p {
    font-size: 0.5em;
  }
}
.slide-top {
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@keyframes slide-top {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}/*# sourceMappingURL=style.css.map */